@font-face {
    font-family: "Yesteryear";
    src: url("/src/assets/fonts/Yesteryear-Regular.ttf");
}

@font-face {
    font-family: "PoiretOne";
    src: url("/src/assets/fonts/PoiretOne-Regular.ttf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --cream: rgb(235, 229, 227);
    --green: rgb(5, 80, 90);
    --blue: rgba(0, 40, 60);

    --small: calc(.25rem + 1vw);
    --normal: calc(.75rem + 1vw);

    --gap: 25px;
}

body {
    background: url("/src/assets/images/background.jpg");
    background-size: cover;
    background-attachment: fixed;

    font-family: "PoiretOne";
    font-size: var(--normal);
    color: var(--green);
    line-height: 1.5;
    letter-spacing: .1rem;
    -webkit-font-smoothing: antialiased;

    min-height: 100vh;

    display: grid;
    grid-template-rows: 250px 1fr 200px;
}

header {
    background-color: var(--green);

    text-align: center;

    box-shadow: inset 0px -10px 20px -10px var(--blue);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
}

header>.logo {
    letter-spacing: .3rem;

    display: flex;
    justify-content: center;
    justify-items: space-between;
    align-items: center;
    gap: var(--gap);
}

main {
    background-color: var(--cream);
    color: var(--green);

    margin: 0px 250px;
    padding: var(--gap);

    min-width: 450px;
}

h1 {
    font-family: "Yesteryear";
    color: var(--cream);
    text-wrap: nowrap;
}

h2 {
    font-family: "Yesteryear";
    color: var(--blue);
}

footer {
    background-color: var(--green);

    font-size: var(--small);
    color: var(--blue);

    gap: var(--gap);

    box-shadow: inset 0px 10px 20px -10px var(--blue);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    background-color: var(--blue);

    font-family: "Yesteryear";
    color: var(--cream);
    font-size: var(--normal);
    letter-spacing: .3rem;

    width: 300px;
    padding: 20px;
    border-radius: 1em;
    border: none;
}

button:active {
    background-color: var(--cream);
    color: var(--blue);
}

img {
    max-height: 500px;
    border-radius: 2em;

    background-position: center;
    background-size: cover;
}

a {
    text-decoration: none;
    font: inherit;
    font-weight: 600;
    color: var(--blue);
}